<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0">
  <channel>
    <link>https://erickmerchant.com/</link>
    <title>{{site.title}}</title>
    <description>{{site.description}}</description>
    {{#each postList as |post|}}
      <item>
        <link>https://erickmerchant.com/post/{{@key}}.html</link>
        <title>{{post.title}}</title>
        <description><![CDATA[{{post.description}}]]></description>
      </item>
    {{/each}}
  </channel>
</rss>
